SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key
DEBUG=True
ALLOWED_HOSTS=[localhost, 127.0.0.1]

# PostgreSQL
DATABASE_URL=postgres://postgres:password@localhost:5432/database

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000